#weather-page {
    display: flex;
    flex-direction: column;
    align-items: center;   
    background-color: rgb(255, 247, 231);
}

.hourly-daily{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
} 

#hourly-chart{
    width: calc(60% - 10px);
    background-color: springgreen;
}
#forecast{
    width: 40%;
}
.react-trigger {
    display: grid;
    background-color: palegreen;
    margin-bottom: 10px;
    align-items: center;
    width: 100%;
    grid-template-columns: 30% 40% 30%;
}
.react-trigger img{
    margin: auto;
}

@media screen and (max-width: 700px) {
    .hourly-daily {
        display: flex;
        flex-direction: column;
    }
    #hourly-chart{
        width: 100%;
        margin-bottom: 20px;
    }
    #forecast{
        width: 100%;
    }
}